.login {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-align: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  padding-top: 100px;
  padding-bottom: 40px;
}

.form-signin {
  width: 100%;
  max-width: 420px;
  padding: 15px;
  margin: 0 auto;
}

.login-text {
  color: var(--body-color);
  padding: 0;
  font-size: 14px;
  font-weight: 600;
  margin: 0 0 20px;
}

input:enabled:hover{
  border-color: #ced4da;
}

input:enabled:focus{
  outline: 0 none;
  outline-offset: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border-color: #ced4da;
}

.send-otp-btn {
  border-bottom-right-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}

.divider {
  margin-top: 28px;
  margin-bottom: 28px;
}

.divider h6 {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #e5e7e8;
  line-height: 0.1em;
  margin: 10px 0 20px;

}

.divider h6 span {
  background:#fff;
  color: #777777;
  padding:0 10px;
}

.loginProviderBtn {
  padding: 0;
  margin-bottom: 10px;
  border: none;
  width: 100%;
  font-size: 16px;
  font-weight: normal;
  border-bottom: 1px solid #E5E7E8;
}

.loginProviderBtn i {
  line-height: 45px;
  width: 27px;
  display: block;
  cursor: pointer;
  font-size: 18px;
}

.loginProviderBtn .facebookLogo {
  background: #3b5998;
  border-color: #3b5998;
}

.loginProviderBtn .loginProviderIcon {
  float: left;
  display: block;
  padding: 0px 9px;
  color: white;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  border: 1px solid #e5e7e8;
}

.loginProviderBtn .externalButtonExplanation {
  font-size: 14px;
  line-height: 45px;
  text-align: left;
  border: 1px solid #E5E7E8;
  padding: 0px 54px 0 63px;
  margin: 0;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  color: var(--body-color) !important;
  display: block;
  font-weight: 600;
}

.loginProviderBtn:hover {
  background: #fafafa;
}

.loginProviderBtn .externalButtonExplanation .small {
  padding: 6px 66px;
}

.loginProviderBtn .loginProviderRightArrow {
  line-height: 36px;
  font-size: 18px;
  float: right;
  color: #83878a;
  padding-right: 12px;
}

.loginProviderBtn .loginProviderRightArrow i {
  cursor: pointer;
  padding-top: 2px;
}

.loginProviderBtn:hover .externalButtonExplanation {
  color: #000;
}

.loginProviderBtn:hover .loginProviderRightArrow {
  color: #000;
}

.loginProviderBtn .googleLogo {
  background: #dd4b39;
  border-color: #dd4b39;
}



//TODO Below code was done in initial development. It is kept for reference and will be removed once app becomes mature

/*
:host ::ng-deep .ui-inputgroup {
  margin-bottom: 1rem;

  .ui-inputgroup-addon {
    min-width: 43px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
  }

  .ui-inputtext {
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }

  .ui-inputtext:enabled:hover:not(.ui-state-error) {
    border-color: #ced4da;
  }
  .ui-inputtext:enabled:focus:not(.ui-state-error) {
    outline: 0 none;
    outline-offset: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border-color: #495057;
  }

}

input{
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

}*/


/*
.form-label-group {
  position: relative;
  margin-bottom: 1rem;
}

.form-label-group > input,
.form-label-group > label {
  padding: var(--input-padding-y) var(--input-padding-x);
}

.form-label-group > label {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  margin-bottom: 0; !* Override default `<label>` margin *!
  line-height: 1.5;
  color: #495057;
  border: 1px solid transparent;
  border-radius: .25rem;
  transition: all .1s ease-in-out;
}

.form-label-group input::-webkit-input-placeholder {
  color: transparent;
}

.form-label-group input:-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::-moz-placeholder {
  color: transparent;
}

.form-label-group input::placeholder {
  color: transparent;
}

.form-label-group input:not(:placeholder-shown) {
  padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3));
  padding-bottom: calc(var(--input-padding-y) / 3);
}

.form-label-group input:not(:placeholder-shown) ~ label {
  padding-top: calc(var(--input-padding-y) / 3);
  padding-bottom: calc(var(--input-padding-y) / 3);
  font-size: 12px;
  color: #777;
}*/
