.google-login-btn {
  font-size: 1.2rem;
  font-weight: 400;
}

.divider {
  margin-top: 30px;
  margin-bottom: 30px;
}

.divider h6 {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #e5e7e8;
  line-height: 0.1em;
  margin: 10px 0 20px;
}

.divider h6 span {
  background: #fff;
  color: #777777;
  padding: 0 10px;
}

.login-with-phone-text {
  color: #83878a;
  font-size: 1.1rem;
  font-weight: 400;
}

input:enabled:hover {
  border-color: #ced4da;
}

input:enabled:focus {
  outline: 0 none;
  outline-offset: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border-color: #83878a;
}

::ng-deep .otp-modal-login {
  margin-top: 130px !important;
}



//TODO Below code was done in initial development. It is kept for reference and will be removed once app becomes mature

/*
:host ::ng-deep .ui-inputgroup {
  margin-bottom: 1rem;

  .ui-inputgroup-addon {
    min-width: 43px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
  }

  .ui-inputtext {
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }

  .ui-inputtext:enabled:hover:not(.ui-state-error) {
    border-color: #ced4da;
  }
  .ui-inputtext:enabled:focus:not(.ui-state-error) {
    outline: 0 none;
    outline-offset: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border-color: #495057;
  }

}

input{
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

}*/

/*
.form-label-group {
  position: relative;
  margin-bottom: 1rem;
}

.form-label-group > input,
.form-label-group > label {
  padding: var(--input-padding-y) var(--input-padding-x);
}

.form-label-group > label {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  margin-bottom: 0; !* Override default `<label>` margin *!
  line-height: 1.5;
  color: #495057;
  border: 1px solid transparent;
  border-radius: .25rem;
  transition: all .1s ease-in-out;
}

.form-label-group input::-webkit-input-placeholder {
  color: transparent;
}

.form-label-group input:-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::-moz-placeholder {
  color: transparent;
}

.form-label-group input::placeholder {
  color: transparent;
}

.form-label-group input:not(:placeholder-shown) {
  padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3));
  padding-bottom: calc(var(--input-padding-y) / 3);
}

.form-label-group input:not(:placeholder-shown) ~ label {
  padding-top: calc(var(--input-padding-y) / 3);
  padding-bottom: calc(var(--input-padding-y) / 3);
  font-size: 12px;
  color: #777;
}*/
