.main-header__top {
  font-size: 0.9375rem;
  background-color: #ffffff;
}

.navbar {
  height: 68px;
}

.logo-text {
  color: var(--primary-color);
  font-family: Proxima Nova,sans-serif;
  font-weight: 600;
  margin-left: 10px;
}

@media (min-width: 992px) {
  .navItemContainer li {
    line-height: 36px;
  }
}

.navItemContainer li {
  font-weight: 600;
  -webkit-font-smoothing: antialiased;
}

.nav-item {
  margin-left: 20px;
}

.nav-link {
  color: var(--body-color) !important;
}

a.nav-link:hover {
  color: rgba(black, .6) !important;
}

.register-header-btn {
  line-height: inherit;
}

.register-header-btn .btn {
  padding: 11px 20px;
}



















