.main-header__top {
  font-size: 0.9375rem;
  background-color: #ffffff;
}

.navbar {
  height: 60px;
}

.logo-text {
  color: var(--primary-color);
  font-family: Proxima Nova,sans-serif;
  font-weight: 600;
  margin-left: 10px;
}

@media (min-width: 992px) {
  .navItemContainer li {
    line-height: 40px;
  }
}

.navItemContainer li {
  font-weight: 600;
  -webkit-font-smoothing: antialiased;
}

.nav-item {
  margin-left: 20px;
}

.nav-link {
  color: var(--body-color) !important;
}

.navbar .nav-item {
  border-top: 4px solid transparent;
}

.navbar .nav-border:hover {
  border-top: 4px solid #ff5c51;
}

.register-header-btn {
  line-height: inherit;
}

.register-header-btn .btn {
  padding: 11px 20px;
}

/*img.avatar {
  vertical-align: middle;
  width: 32px;
  height: 32px;
  border-radius: 100%;
}*/

.avatar {
 font-size: 1.5em;
  padding-top: 15px;
}

.dropdown-menu-arrow:before {
  content: "";
  right: 1rem;
  position: absolute;
  bottom: 96%;
  z-index: -5;
  width: 15px;
  height: 15px;
  background: #FFFFFF;
  border-left:  var(--dropdown-border-width) var(--dropdown-border-color);
  border-top: var(--dropdown-border-width) var(--dropdown-border-color);
  -moz-transform:rotate(45deg);
  -webkit-transform:rotate(45deg);
}

.dropdown-menu {
  top: 88%;
  line-height: 24px;

}

a.dropdown-item {
  color: #83878A;
}

a.dropdown-item:hover{
 background-color: whitesmoke;
 color: var(--body-color);
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none
}













