<div class="main-header__top">
  <nav class="navbar navbar-expand-lg navbar-light bg-transparent">
    <div class="container">
      <a class="navbar-brand" href="#">
        <svg clip-rule="evenodd" fill-rule="evenodd" height="24" width="24" xmlns="http://www.w3.org/2000/svg">
          <path class="fill-primary"
                d="M24 21h-3l1-3h1l1 3zm-12.976-4.543l8.976-4.575v6.118c-1.007 2.041-5.607 3-8.5 3-3.175 0-7.389-.994-8.5-3v-6.614l8.024 5.071zm11.976.543h-1v-7.26l-10.923 5.568-11.077-7 12-5.308 11 6.231v7.769z"/>
        </svg>
        <span class="logo-text">tutor.find</span>
      </a>
      <button aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler"
              data-target="#navbarTogglerDemo02" data-toggle="collapse" type="button">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse navItemContainer" id="navbarTogglerDemo02">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
          <li class="nav-item nav-border">
            <a class="nav-link" href="#">How does it work?</a>
          </li>
          <li class="nav-item nav-border">
            <a class="nav-link" href="#">For Students</a>
          </li>
          <li class="nav-item nav-border">
            <a class="nav-link" href="#">For Tutors</a>
          </li>
        </ul>
        <ul class="navbar-nav mt-2 mt-lg-0 ">
          <li class="nav-item nav-border" *ngIf="!isAuthenticated">
            <a class="nav-link" routerLink="/login">Log in</a>
          </li>
          <li class="nav-item register-header-btn" *ngIf="!isAuthenticated">
            <a class="btn btn-md btn-primary" routerLink="/signup"><span>Get Started</span></a>
          </li>
          <li class="nav-item dropdown" *ngIf="isAuthenticated">
            <a class="nav-link dropdown-toggle" href="#" id="userAvatarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fa fa-user-circle avatar"></i>
              <!--<img src="../../../assets/img/dummy_avatar.png" class="avatar">-->
            </a>
            <div class="dropdown-menu dropdown-menu-arrow dropdown-menu-right" aria-labelledby="userAvatarDropdown">
              <a class="dropdown-item" routerLink="/settings">Settings</a>
              <a class="dropdown-item" href="#">Customize your interests</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Help or Questions</a>
              <a class="dropdown-item" href="#">Log Out</a>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </nav>

</div>
