.learning-preferences {
  border-top: 1px solid #EEEEF2;
  min-height: 100%;
  margin-bottom: 40px;
}

.btn-md {
  padding: 10px 25px;
}
.btn-light {
  color: #212529;
  border: 1px solid  #212529 ;
}

.btn-rounded {
  border-radius: 20px;
  padding: 8px 12px;
}

.subcategory-tag {
  border-radius: 18px;
  justify-content: center;
  overflow: hidden;
}

.subcategory-tag i {
  font-size: 0.9rem;
}

.tag-default {
  background-color: #f8f7fa;
  color: #83878a;
}

.tag-selected {
  background-color: var(--primary-color);
  color: white;
}

button.tag-default:hover {
  background-color: lightgray;
  color: #484848;
}


.wrapper-tag {
  padding:8px;
  display: inline-block;
}

.sidenav {
  height: 100%;
  //width: 160px;
  position: fixed;
  z-index: 1;
  //top: 68px;
  left: 0;
  //background-color: #111;
  overflow-x: hidden;

}

.progress-bar{
  background-color: #007bff
}

.learning-preferences:after {
  content: "";
  display: block;
}

.fixed-bottom-nav, .learning-preferences:after{
  height: 60px;
}
