.otp-input-container {
  text-align: center;
  padding-left: 10px;
}

.otp-input-container p {
  color: #83878a;
  font-size: 14px;
}

.otp-input-container input {
  width: 50px;
  height: 50px;
  border-radius: 3px;
  text-align: center;
  font-size: 16px;
  margin-right: 10px;
}

.resend-otp-text {
  font-size: smaller;
}

input:enabled:hover {
  border-color: #ced4da;
}

input:enabled:focus {
  outline: 0 none;
  outline-offset: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border-color: #83878a;
}
