.otp-input-container {
  text-align: center;
  padding-left: 10px;
}

.otp-input-container p {
  color: #83878A;
  font-size: 14px;
}

.otp-input-container input {
  width: 50px;
  height: 50px;
  border-radius: 3px;
  text-align: center;
  font-size: 16px;
  margin-right: 10px;
}

.resend-otp-text {
  font-size: smaller;
}

