nav.fixed-bottom {
  border-top: 1px solid #e5e7e8;
}

/*@include media-breakpoint-down(xs) {
  .bottom-progress-bar {
    display: none;
  }
}*/

.btn-md {
  padding: 10px 30px;
}

.btn-light {
  color: #212529;
  border: 1px solid #212529;
}

.progress-bar {
  background-color: #007bff;
}

.fixed-bottom-nav {
  height: 60px;
}

