<div class="home-tutors">
    <section class="hero">
        <div class="jumbotron bg-white">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-sm-10 col-lg-8 offset-sm-1 offset-lg-2">
                        <h1 class="info-header">We help you grow your tutoring business.</h1>
                        <h2 class="info-sub-header">
                            Via our platform, you can become a tutor-preneur.
                        </h2>
                        <h2 class="info-sub-header">
                            You can manage your classes,students and much more.
                        </h2>
                        <a class="btn btn-primary btn-lg mt-4" routerLink="/signup/tutor">Create Profile</a>
                    </div>
                </div>

            </div>
        </div>
    </section>
</div>


<!--
<div class="hero-info-container justify-content-center">
    <h1 class="info-header">We help you grow your tutoring business.</h1>
    <h2 class="info-sub-header">
        Via our platform, you can become a tutor-preneur.
        You can manage your classes,students and much more.
    </h2>
</div>-->
