<app-header></app-header>
<section class="login">
  <div class="card">
    <div class="form-signin">
      <form (ngSubmit)="onSubmit()" [formGroup]="loginForm">
        <h6 class="login-text">Log in with Phone</h6>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">+91</span>
          </div>
          <input aria-describedby="basic-addon1" aria-label="Username" class="form-control"
                 formControlName="phoneNumber"
                 maxlength="10" pKeyFilter="int" placeholder="Phone" required type="text">
          <div class="input-group-append">
            <button [disabled]="!loginForm.valid" class="btn  btn-orange send-otp-btn" type="submit">Send OTP</button>
          </div>
        </div>
      </form>
      <div *ngIf="showLoadingOverlay" class="text-center mb-3 mt-5">
        <app-tf-spinner></app-tf-spinner>
      </div>
      <div *ngIf="isOtpSent" class="mt-5 mb-3">
        <app-tf-otp-input (submitOtp)="onSubmitOtp($event)" [isPhoneValid]="loginForm.valid"></app-tf-otp-input>
      </div>
      <div class="divider">
        <h6><span>or</span></h6>
      </div>
      <div class="loginProviderBtns mb-4 mt-3">
        <button class="btn btn-md loginProviderBtn">
									<span class="loginProviderIcon facebookLogo">
										<i class="fa fa-facebook"></i>
									</span>
          <span class="loginProviderRightArrow"><i class="fa fa-angle-right"></i></span>
          <h2 class="externalButtonExplanation">Login with Facebook</h2>
        </button>
        <button class="btn btn-md loginProviderBtn">
									<span class="loginProviderIcon googleLogo">
										<i class="fa fa-google"></i>
									</span>
          <span class="loginProviderRightArrow"><i class="fa fa-angle-right"></i></span>
          <h2 class="externalButtonExplanation">Log in with Google</h2>
        </button>
      </div>
      <p class="mt-5 mb-3 text-muted text-center">&copy; 2020</p>
    </div>
  </div>
</section>

<p-blockUI [blocked]="showLoadingOverlay"></p-blockUI>


<!--todo below code is kept for reference, will ve removed in future-->
<!--<button class="btn btn-md btn-orange btn-block" type="submit" [disabled]="!loginForm.valid">Send OTP</button>-->
<!--<div class="ui-inputgroup">
    <span class="ui-inputgroup-addon">+91</span>
    <input pInputText pKeyFilter="int" placeholder="Phone" required formControlName="phoneNumber" maxlength="10">
    &lt;!&ndash;<p-inputMask mask="9999999999" placeholder="Phone"></p-inputMask>&ndash;&gt;
</div>-->

<!--<div class="otp-input-container ui-inputgroup">
  <input pInputText maxlength="1" pKeyFilter="int">
  <input pInputText maxlength="1" pKeyFilter="int">
  <input pInputText maxlength="1" pKeyFilter="int">
  <input pInputText maxlength="1" pKeyFilter="int">
</div>-->
