input:enabled:focus {
  outline: 0 none;
  outline-offset: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border-color: #ced4da;
}

.editable-label {
  padding-top: 1%;
  vertical-align: middle;
}

i {
  color: var(--primary-color);
  cursor: pointer;
}
