.signup {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-align: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  padding-top: 100px;
  padding-bottom: 40px;
}

.form-signup {
  width: 100%;
  max-width: 450px;
  padding: 15px;
  margin: 0 auto;
}

.card-header {
  padding-top: 20px;
  padding-bottom: 20px;
}

.signup-header {
  color: var(--body-color);
  font-size: 1.2rem;
  font-weight: 400;
}

.google-login-btn {
  font-size: 1.2rem;
  font-weight: 400;
}

.divider {
  margin-top: 30px;
  margin-bottom: 30px;
}

.divider h6 {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #e5e7e8;
  line-height: 0.1em;
  margin: 10px 0 20px;
}

.divider h6 span {
  background: #fff;
  color: #777777;
  padding: 0 10px;
}

.signup-with-phone-text {
  color: #83878a;
  font-size: 1.1rem;
  font-weight: 400;
}

input:enabled:hover {
  border-color: #ced4da;
}

input:enabled:focus {
  outline: 0 none;
  outline-offset: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border-color: #83878a;
}

::ng-deep .otp-modal-signup {
  margin-top: 120px !important;
}
