.signup {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-align: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  padding-top: 100px;
  padding-bottom: 40px;
}

.form-signup {
  width: 100%;
  max-width: 420px;
  padding: 15px;
  margin: 0 auto;
}

.sigup-text {
  color: var(--body-color);
  padding: 0;
  font-size: 14px;
  font-weight: 600;
  margin: 0 0 20px;
}

input:enabled:hover {
  border-color: #ced4da;
}

input:enabled:focus {
  outline: 0 none;
  outline-offset: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border-color: #ced4da;
}
