<h4 class="mb-4">Basic Info</h4>

<form [formGroup]="basicInfoForm" (ngSubmit)="onSubmit()" *ngIf="user | async; else loading">
  <div class="row">
    <div class="form-group col mb-4">
      <label for="firstName">First name</label>
      <input
        type="text"
        class="form-control"
        id="firstName"
        formControlName="firstName"
        [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }"
        required
      />
      <div class="invalid-feedback">
        First name is required.
      </div>
    </div>
    <div class="form-group col mb-4">
      <label for="lastName">Last name</label>
      <input
        type="text"
        class="form-control"
        id="lastName"
        formControlName="lastName"
        [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }"
        required
      />
      <div class="invalid-feedback">
        Last name is required.
      </div>
    </div>
  </div>

  <div class="form-group mb-4">
    <label for="gender">Gender</label>
    <span class="text-muted">(Optional)</span>
    <select id="gender" class="form-control" formControlName="gender">
      <option value="MALE">Male</option>
      <option value="FEMALE">Female</option>
      <option value="OTHER">Other</option>
    </select>
  </div>

  <div class="form-group mb-4">
    <label for="address">City</label>
    <input
      type="text"
      class="form-control"
      id="address"
      aria-describedby="addressHelpBlock"
      formControlName="address"
      [ngClass]="{ 'is-invalid': submitted && f.address.errors }"
      appGooglePlaces
      [addressType]="'(cities)'"
      (onPlaceSelect)="updateAddress($event)"
      placeholder="Search your city"
      required
    />

    <div class="invalid-feedback">
      City is required
    </div>
    <small id="zipCodeHelpBlock" class="form-text text-muted">
      Your city helps us finding the best tutor for you in your area
    </small>
  </div>

  <div class="form-group mb-4">
    <label for="langPreference">Language Preferences</label>
    <select
      id="langPreference"
      class="form-control"
      aria-describedby="langPrefBlock"
      formControlName="languagePreference"
    >
      <option value="en">English</option>
      <option value="hi">Hindi</option>
    </select>
    <small id="langPrefBlock" class="form-text text-muted">
      The language in which you would like to learn
    </small>
  </div>

  <div class="form-group mb-4">
    <label for="locationPreference">Location Preferences</label>
    <select
      id="locationPreference"
      class="form-control"
      aria-describedby="locPrefBlock"
      formControlName="locationPreference"
    >
      <option value="tutor-location">At Tutor's Location</option>
      <option value="self-location">At Your Location</option>
      <option value="online">Online</option>
    </select>
    <small id="locPrefBlock" class="form-text text-muted">
      Where you would like to have your classes
    </small>
  </div>

  <hr class="mb-4" />

  <button class="btn btn-primary btn-lg btn-block" type="submit">
    Save changes
  </button>
</form>

<ng-template #loading>
  Loading User...
</ng-template>
