<section class="welcome">
  <div class="card text-center">
    <p class="card-text font-weight-bold mb-2 mt-2 justify-content-start">
      <span><i class="fas fa-check-circle" style="color: var(--primary-color);"></i></span> Your account is created
    </p>
    <img src="../../../assets/img/welcome.jpg" class="card-img-top" alt="Image not loaded" width="300" height="300" />
    <div class="card-body">
      <h4 class="card-title font-weight-bold mb-3" style="color: var(--primary-color);">Welcome to Tutor.find !</h4>
      <p class="card-text mb-4" style="color: #83878a;">
        We need few more things to help you set up your business and find more students.
      </p>
      <a class="btn btn-primary btn-lg btn-block" routerLink="/create-profile/basic-details">
        Continue
      </a>
    </div>
  </div>
</section>
