/* You can add global styles to this file, and also import other style files */

@import 'variables';
@import '~font-awesome/scss/font-awesome';

@import '~bootstrap/scss/bootstrap';

:root {
  --primary-color: #ff5c51;
  --body-color: #484848;
  --dropdown-border-color: rgba(0, 0, 0, 0.15);
  --dropdown-border-width: 1px solid;
  --list-group-bg: var(--white);
  --list-group-item-color: #83878a;
  --list-group-border: 1px solid rgba(0, 0, 0, 0.125);
}

html {
  font-size: 70%;
}

@media (min-width: 992px) {
  html {
    font-size: 100%;
  }
}

body {
  font-size: 100%;
  line-height: 1.25;
  font-family: Source Sans Pro, sans-serif;
  -webkit-font-smoothing: antialiased;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.bg-primary {
  color: var(--white);
}

.fill-primary {
  fill: var(--primary-color);
}

.btn {
  display: inline-block;
  -webkit-appearance: none;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.btn:focus,
.btn:enabled:focus {
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
}

a {
  cursor: pointer;
  text-decoration: none;
  outline: 0;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

a.primary {
  color: var(--primary-color);
}

a.primary,
a.primary:hover {
  color: var(--primary-color);
}

a.underline,
a.underline:hover {
  text-decoration: underline;
}

a.disabled,
a.disabled:hover {
  color: #777777;
  opacity: 0.5;
  cursor: not-allowed;
  pointer-events: none;
}

.alert {
  border-radius: 2px;
  padding-right: 3rem;
}

.alert span {
  font-size: small;
}
