/* You can add global styles to this file, and also import other style files */

@import 'variables';
@import '~font-awesome/scss/font-awesome';

html {
  font-size: 70%
}

@media (min-width: 992px) {
  html {
    font-size:100%
  }
}

body {
  font-size: 100%;
  line-height: 1.25;
  font-family: Source Sans Pro,sans-serif;
  color: #283740;
  -webkit-font-smoothing: antialiased;
  background-color: #f5f5f5;

}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.fill-orange {
  fill: #ff5c51;
}

.bg-orange {
  background-color: #ff5c51;
  color: #fff;
}

.btn {
  display: inline-block;
  -webkit-appearance: none;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.btn-md {
  font-weight: 600;
  font-size: 16px;
  padding: 11px 20px;
}

.btn:not(:disabled) {
  cursor: pointer
}

.btn:disabled, .btn:disabled:hover{
 background-color: #777777;
  border: 1px solid #777777;
}


.btn.btn-orange {
  border: 1px solid #ff5c51;
  background: #ff5c51;
  color: #fff;
}

.btn.btn-orange:hover {
  border: 1px solid #ff4437;
  background-color: #ff4437
}
.btn, .btn:hover {
  text-decoration: none;
}

.btn:focus, .btn:enabled:focus {
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
}

a {
  cursor: pointer;
  text-decoration: none;
  outline: 0;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  //color: #0f0017;
}

a.orange{
  color: #ff5c51;
}

a.orange,a.orange:hover{
  color: #ff4437;
}

a.underline, a.underline:hover {
  text-decoration: underline;
}

a.disabled, a.disabled:hover {
  color: #777777;
  opacity: 0.5;
  cursor: not-allowed;
  pointer-events: none;
}



